.card_container {
	background: #fff;
	width: 14rem;
	height: 20rem;
	border-radius: 7px;
	margin: 10px;
	margin-left: -140px;
	border: 1px solid #888;
	overflow: hidden;
	.content_back{
		background-color: #e5e5f7;
		background-image:  linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
		background-size: 20px 35px;
		background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
		height: calc(20rem - 20px);
		border: 10px solid #fff;
		padding: 10px;
	}
	.content_inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: inherit;
		.top_section{
			height: 10%;
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 22px;
			.top_symbol {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-evenly;
				.top_symbol_sigle{
					text-align: center;
					width: 100%;
				}
			}
		}
		.center_section {
			width: 100%;
			height: 14rem;
			display: flex;
			align-items: center;
			justify-content: center;
			.special_card{
				font-size: 40px;
				border: 1px solid #ccc;
				padding: 20%;
				border-radius: 5%;
			}
			/* DYNAMIC CENTER CARD SECTION */
			.grid_3,
			.grid_2 {
			  display: flex;
			  flex-direction: column;
			  align-items: center;
			  justify-content: space-evenly;
			}
			
			.grid_4,
			.grid_5,
			.grid_6,
			.grid_7,
			.grid_8,
			.grid_9,
			.grid_10 {
			  position: relative;
			  display: grid;
			  grid-template-columns: repeat(2, 1fr);
			  padding: 1px;
			  width: 89%;
			  align-items: center;
			  text-align: center;
			}
			
			.grid_4 {
			  grid-gap: 5px;
			}
			.grid_5 .centerCard:last-child {
			  position: absolute;
			  transform: translate(90px, 0);
			}
			.grid_5 {
			  grid-gap: 5px;
			}
			.grid_6 {
			  grid-gap: 11px;
			  transform: translate(0, -1rem);
			}
			.grid_7 {
			  grid-gap: 14px;
			  transform: translate(0, -1rem);
			}
			.grid_7 .centerCard:last-child {
			  position: absolute;
			  transform: translate(90px, 0px);
			}
			
			.grid_9 .centerCard:last-child {
			  position: absolute;
			  transform: translate(90px, 0px);
			}
			
			.grid_10 .centerCard:last-child {
			  position: absolute;
			  transform: translate(90px, -40px);
			}
			.grid_10 .centerCard:nth-child(9) {
			  position: absolute;
			  transform: translate(90px, 40px);
			}
			.center_symbol_sigle {
				font-size: 2rem;
			}
		}
		.bottom_section {
			height: 10%;
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 22px;
			.top_symbol {
				display: flex;
				flex-direction: column;
  				align-items: flex-end;
				justify-content: space-evenly;
				.top_symbol_sigle{
					text-align: center;
					width: 100%;
				}
			}
		}
	}
}

.card_container:hover {
	z-index: 200 !important;
}